{% extends "base.html" %}

{% block title %}Missing game data | Are the Dash Playing?{% endblock title %}

{% block game_type %}home{% endblock game_type %}

{% block content %}
        <section id="answer" class="text-center">
            <h1>MAYBE</h1>
            <p>Confusing, right?</p>
            <p>We're in the process of updating our game data. But you can always <a href="http://www.milb.com/schedule/index.jsp?sid=t580">check the official schedule</a> on the Dash's website.</p>

            <p class="ticket_push"><i class="fa fa-ticket"></i> <a href="http://www.milb.com/tickets/singlegame.jsp?sid=t580">GET TICKETS</a></p>
        </section>
{% endblock content %}